<div class="grid">
    <div class="col-12">

        <p-toast key="tst"></p-toast>
        <div class="card p-fluid">
            <div class="col-12 md:col-6">
                <h5>สร้างก๊วน</h5>
                <div class="field">
                    <label htmlFor="name1">ชื่อ ก๊วน : </label>
                    <input pInputText id="name1" type="text" #nameTeam   required/>
                </div>
                <div class="field">
                    <button pButton pRipple label="บันทึก" class="w-full p-3 text-xl" (click)="createTeam(nameTeam.value)"></button>
                </div>

            </div>
        </div>

    </div>
</div>